* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.8;
    color: #333;
    background: url("./img/background.jpg");
    background-size: cover;
    opacity: 0.9;
    /* Controla la opacidad del fondo */
    z-index: -1;
    padding-top: 15px;

}

body::before {
    content: "";
    position: fixed;
    /* Fija el fondo para que no se mueva al hacer scroll */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("./img/background.jpg");
    background-size: cover;
    opacity: 0;
    /* Controla la opacidad del fondo */
    z-index: -1;
    /* Asegura que esté detrás del contenido */
}

header {
    background-color: orange;
    color: black;
    padding: 10px 0;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
}

header h1 {
    margin: 0;
}



.container {
    display: flex;
    width: 90%;
    margin: auto;
}



.card {
    flex: 1;
    overflow: hidden;
    transition: 0.2s;
}

.card img {
    object-fit: cover;
    filter: grayscale(1);
    padding: 5px;
    border-radius: 15px;
    width: 50%;

}

.card:hover {
    flex: 2;
    transition: 0.5s;

}

.card:hover img {
    filter: none;
    transition: 0.5s;
}

h3 {
    color: white;
}

a {
    color: #ffffff;
    text-decoration: none;
}

ul {
    list-style: none;
}

.containerss {
    width: 85%;
    margin: auto;
}

/* Navigation */
.nav-main {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

/*Logo*/
.nav-brand {
    width: 75px;
}

.nav-brand::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    transform: scaleX(0);
    transition: transform 0.3s ease;

}

.nav-brand:hover {
    transform: scale(1.25);
    /* Aumentar ligeramente el tamaño */
    background-position: 0 100%;
    background-size: 100% 4px;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease;
}


/* Navbar Left */
.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 10px;
    position: relative;
    /* Para que el submenú se posicione correctamente */
}

.nav-main ul li a {
    padding: 2px;
    transition: border-bottom 0.3s ease;
    /* Efecto suave al cambiar */
    position: relative;
    transition: all 0.3s ease;
}

.nav-main ul li a:hover {
    transform: scale(1.05);
    /* Aumentar ligeramente el tamaño */

    background-position: 0 100%;
    background-size: 100% 4px;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease;
}

.nav-main ul li a:hover::after {
    transform: scaleX(1);
    /* Efecto de expansión */
}

.nav-main ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    background-image: linear-gradient(to right, orange, yellow);
}

/* Mostrar el submenu al hacer hover */
.nav-main ul li:hover .submenu {
    display: block;
}

.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
}

/* Submenu */
.submenu {
    display: none;
    position: absolute;
    background-color: #222;
    /* Fondo oscuro */
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    /* Asegura que el submenu esté por encima del contenido */
    top: 100%;
    /* Asegura que aparezca justo debajo del enlace */
    left: 0;
    /* Alinea con el borde izquierdo del enlace */
    margin: 0;
    padding: 0;
    padding: 10px 15px;
    /* Añade más espacio para que el texto no esté tan ajustado */
    min-width: 150px;
    /* Ancho mínimo para que el menú tenga*/
    border: 1px solid rgba(255, 255, 255, 0.2);
    /* Borde claro y sutil */
    transition: opacity 0.2s ease, visibility 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

.submenu li {
    list-style: none;
    padding: 5px 15px;
}

.submenu li a {
    color: #fff;
    /* Texto blanco */
    padding: 10px 20px;
    /* Aumenta el padding alrededor del texto */
    display: block;
    white-space: nowrap;
}

.submenu li a:hover {
    color: rgb(255, 255, 255);
}


/* Muestra el submenu al pasar el cursor sobre el padre */
.nav-menu li:hover .submenu {
    opacity: 1;
    visibility: visible;
}

/* Estilos para que el submenu aparezca correctamente */
.nav-menu li {
    position: relative;
    margin: 0;
    padding: 0;
}

/*Linea divisora*/
hr {
    margin: 10px 0;
}

/* Responsive Button */
.menu-btn {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 30px;
    z-index: 2;
    display: none;
}

/* SHOWCASE */

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #fff;
    font-size: 15px;
    border: 1px solid #fff;
    display: inline-block;
    background-color: #ff6600;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    opacity: 0.9;
    top: -100px;
    scale: 1.2;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.showcase {
    width: 100%;
    height: 650px;
    background: url("./img/banner.jpg") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 40px;
    margin-bottom: 50px;
    color: #fff;
    margin-top: 10px;
}

.showcase h2,
.showcase p {
    margin-bottom: 10px;
}

.showcase .btn {
    margin-top: 20px;
}


/* News Cards */
.news-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin: 70px 0;

}

.news-cards img {
    width: 100%;
    height: 180px;
}

.news-cards h3 {
    font-size: 20px;
    margin: 10px 0;
}

.news-cards a {
    padding: 10px 0;
    color: #f2f2f2;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

/* CARDS BANNER ONE */
.cards-banner-one {
    width: 100%;
    height: 350px;
    background: url("./img/banner2.jpg") no-repeat center center/cover;
    margin-bottom: 40px;
    margin-top: 15px;
    border-radius: 10px;
}

.cards-banner-one .content {
    width: 40%;
    padding: 12px 0 0 30px;
    color: #000000;

}

.cards-banner-one p,
.cards-banner-two p {
    margin: 10px 0 20px 0;
}

/* CARDS BANNER TWO*/
.cards-banner-two {
    width: 100%;
    height: 420px;
    background: url("./img/banner3.jpg") no-repeat center center/cover;
    margin-bottom: 40px;
    margin-top: 15px;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    color: white;
    border-radius: 15px;

}

.cards-banner-two .content {
    width: 40%;
    padding: 35px 0 0 30px;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    /* Fondo semitransparente para hacer que el texto sea más legible */
    padding: 20px;
    max-width: 600px;
    border-radius: 15px;
}

.cards-banner-two h2 {
    font-size: 36px;
    color: #f39c12;
    /* Color llamativo para el título */
}

.cards-banner-two p {
    font-size: 16px;
    line-height: 1.6;
}

.cards-banner-two .btn {
    display: inline-block;
    background-color: #ff6600;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 5px;
}

/* Follow */
.social {
    margin: 50px;
}

.social p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    color: white;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a {
    margin: 0 30px;
}

.links a i {
    font-size: 3rem;
}

/* Links */
.footer-links {
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 35px 0;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    font-size: 16px;
    text-align: center;
}

.footer-container ul {
    margin: 0 auto;
}

.footer-links li {
    line-height: 2.8;
}

.footer {
    background: #2f3640;
    color: #616161;
    font-size: 25px;
    padding: 20px 0;
    text-align: center;
    font-size: 1rem;
    padding-bottom: 20px;
}

/* Mobil */
@media (max-width: 700px) {
    .menu-btn {
        display: block;
        padding: 13px;
    }

    .menu-btn:hover {
        opacity: 0.9;
    }

    .nav-main ul.nav-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: rgb(215, 157, 51);
        width: 43%;
        height: 100%;
        border-right: #000000 3px solid;
        opacity: 0.9;
        padding: 20px;
        transform: translateX(-500px);
        transition: transform 0.5s ease-in-out;
    }

    .nav-main ul.nav-menu li {
        padding: 20px;
        border-bottom: #ccc solid 1px;
        font-size: 14px;
    }

    .nav-main ul.nav-menu li:last-child {
        border-bottom: 0;
    }

    .nav-main ul.nav-menu.show {
        transform: translateX(-20px);
    }

    .nav-main ul.nav-menu-right {
        margin-right: 50px;
    }

    .news-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .cards-banner-one .content,
    .cards-banner-two .content {
        width: 80%;
    }

    .footer-links .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .news-cards {
        grid-template-columns: 1fr;
    }

    .cards-banner-one .content,
    .cards-banner-two .content {
        width: 100%;
        padding: 60px 20px;
    }

    .footer-links .footer-container {
        grid-template-columns: 1fr;
    }

    .footer-links .footer-container ul {
        text-align: center;
    }
}

.contenedor {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 50px 50px;
}

.contenedor .cartas {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 470px;
    max-width: 100%;
    height: 380px;
    background: orange;
    opacity: 0.8;
    border-radius: 20px;
    transition: 0.2s;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
}

.contenedor .cartas:hover {
    height: 420px;
}


.contenedor .cartas:hover .caja-img {
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.contenedor .cartas .caja-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenedor .cartas .contenido {
    position: absolute;
    top: 252px;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}

.contenedor .cartas:hover .contenido {
    top: 100px;
    height: 350px;
    /*cuadro de contenido*/

}

.contenedor .cartas .contenido h2 {
    font-size: 1.rem;
    font-weight: 00;
    color: rgb(0, 0, 0);
}

.contenedor .cartas .contenido p {
    color: #000000;
}

.contenedor .cartas .contenido a {
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    text-decoration: none;
    background: rgb(0, 0, 0);
    color: white;
    font-weight: 500;
}

.contenedor .cartas .contenedor a:hover {
    opacity: 0.5;
    background-color: #000000;
    color: rgb(255, 255, 255);
}

@media (max-width: 480px) {
    .contenedor .cartas {
        width: 230px;
        border-radius: 15px;
    }

    .contenedor .cartas .caja-img {
        width: 185;
        border-radius: 10px;
    }

    .contenedor .cartas .contenido p {
        font-size: 0.8rem;
    }

    .contenedor .cartas .contenido a {
        font-size: 0.9rem;
    }
}

/* CSS DE IMAGENES */
.contenedor2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 50px 50px;
}

.contenedor2 .pj {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    max-width: 100%;
    height: 300px;
    background: orange;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
}

.contenedor2 .pj:hover {
    height: 400px;
}

.contenedor2 .pj .pj-img {
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    background: #000000;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}

.contenedor2 .pj:hover .pj-img {
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.contenedor2 .pj .pj-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenedor2 .pj .contenido {
    position: absolute;
    top: 252px;
    width: 100%;
    height: 35px;
    padding: 0 30px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}

.contenedor2 .pj:hover .contenido {
    top: 130px;
    height: 250px;
    /*cuadro de contenido*/
}

.contenedor2 .pj .contenido h2 {
    font-size: 1rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.contenedor2 .pj .contenido p {
    color: #000000;
}

.contenedor2 .pj .contenido a {
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    text-decoration: none;
    background: var(--clr);
    color: white;
    font-weight: 500;
}

.contenedor2 .pj a:hover {
    opacity: 0.8;
    background-color: #000000;
    color: aqua;
}

@media (max-width: 480px) {
    .contenedor2 .pj {
        width: 230px;
        border-radius: 15px;
    }

    .contenedor2 .pj .pj-img {
        width: 185px;
        border-radius: 10px;
    }

    .contenedor2 .pj .contenido p {
        font-size: 0.8rem;
    }

    .contenedor2 .pj .contenido a {
        font-size: 0.9rem;
    }
}

.pjh2 {
    font-size: 70px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}